<div class="card-movie d-flex bg-danger shadow-sm p-3 mb-5 bg-body rounded align-items-center">
    <img class="me-3 shadow-sm" src="<%= bookmark.movie.poster_url %>" alt="Poster for <%= bookmark.movie.title %>" height="200px">
    <div>
      <h2 class="fs-3"><%= bookmark.movie.title %></h2>
      <p class="fs-6"><%= bookmark.movie.overview %></p>
      <div class="d-flex align-items-center">
        <h5 class="flex-grow-1 "><i class="fa-sharp fa-solid fa-quote-left"></i> <%= bookmark.comment %></h5>
        <%= link_to "Delete movie", delete_bookmark_path(bookmark), class: "btn btn-link", data: {turbo_method: :delete, turbo_confirm: "Are you sure?"} %>
      </div>
    </div>
  </div>
